# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-60py3.europe-west9.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=PQAIXO7YCAQWOXFO
sasl.password=6dif64xnolCpXgXR0P5T8HSYDtsXwjiQJ+kREfvW3QgB4MpLHi+jXeJEzCv4YQMW

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000