/Kafka/kafka-server-creds.txt
/Kafka/python.config
/Neo4j-database/src/combined_data_1.txt
/Neo4j-database/src/combined_data_2.txt
/Neo4j-database/src/combined_data_3.txt
/Neo4j-database/src/combined_data_4.txt
/Neo4j-database/src/filtered_data.csv